/* CSS global */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/hiro.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.title-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    font-family: 'New Amsterdam', sans-serif;
}

.title-container h1 {
    margin: 0;
    font-size: 4.5em;
    color: #262626;
}

.game-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 150px;
    z-index: 10;
    opacity: 0.8;
    font-family: 'Pixel Font-7', sans-serif;
    color: white; /* Texte blanc pour toute la div */
}

.challenge-display {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white; /* Texte blanc */
}

.controls {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#challenge-counter {
    font-size: 1.5em;
    color: white; /* Texte blanc */
}

.btn {
    background-color: #ff5a5f;
    color: white; /* Texte blanc */
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #e04848;
}

#replay-btn.large {
    background-color: white;
    color: #ff5a5f;
    font-size: 1.5em;
    padding: 20px 40px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.4s ease;
}

#emoji-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Permet d'interagir avec les éléments en dessous */
    z-index: 100;
    overflow: hidden;
}

.emoji {
    position: absolute;
    font-size: 3em;
    opacity: 0;
}

.score-display {
    font-size: 4em; /* Taille du texte pour le score final */
    color: #ff5a5f;
    text-align: center;
    margin-bottom: 20px;
}

